<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  
  <head>
    <meta charset="utf-8">
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le styles -->
    <link  href="assets/css/bootstrap.css" th:href="@{${base_url}+'assets/css/bootstrap.css'}" rel="stylesheet">
    <style>
      body { padding-top: 60px; /* 60px to make the container go all the way
      to the bottom of the topbar */ }
    </style>
    <link href="assets/css/bootstrap-responsive.css" th:href="@{${base_url}+'assets/css/bootstrap-responsive.css'}" rel="stylesheet">                        
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    <style>
		.error {
			color: #ff0000;
		}
		
		.errorblock {
			color: #000;
			background-color: #ffEEEE;
			border: 3px solid #ff0000;
			padding: 8px;
			margin: 16px;
		}
	</style>
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">
            Add Package Fields
          </a>
          <ul class="nav">
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div>
        <h1>
          Add Package Fields
        </h1>
        <p>
          Add your Package Fields.
          <br>
          &nbsp;
        </p>
      </div>
      <form action="#" th:action="@{/admin/addPackage}" th:object="${addPackage}" method="post" enctype="multipart/form-data">
      		<!-- <ul>
  				<li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
			</ul>
			 -->
			<label for="textinput1">
	          Enter Name:
	        </label>	
	        <input type="text" th:field="*{name}"
	        		 th:class="${#fields.hasErrors('name')}? fieldError" />
			
			<ul>
  				<li th:each="err : ${#fields.errors('name')}" th:text="${err}" />
			</ul>
			<br/>
			<label for="textinput1">
	          Enter Description:
	        </label>	
			<input type="text" th:field="*{description}"
	        		 th:class="${#fields.hasErrors('description')}? fieldError" />
			
			<ul>
  				<li th:each="err : ${#fields.errors('description')}" th:text="${err}" />
			</ul>
			<br/>
			<label for="textinput1">
	          Enter Price:
	        </label>	
			<input type="text" th:field="*{price}"
	        		 th:class="${#fields.hasErrors('price')}? fieldError" />
			
			<ul>
  				<li th:each="err : ${#fields.errors('price')}" th:text="${err}" />
			</ul>
			<br/>
			<label for="textinput1">
	          Enter Image:
	        </label>	
			 <input type="file" name="image" id="image" />
	        		 <!-- th:class="${#fields.hasErrors('file')}? fieldError" --> 
			
			<!-- <ul>
  				<li th:each="err : ${#fields.errors('file')}" th:text="${err}" />
			</ul> -->
			<br/>
			<input type="submit" class="btn" value="Submit"/>
	  </form>
     
      <div class="control-group">
      </div>
    </div>

     <script src="https://code.jquery.com/jquery-3.3.1.min.js">
    </script>
    <script th:src="@{assets/js/bootstrap.js}">
    </script>
  </body>
</html>